.app-main{
    width: 100%;
}

.topbar {
    background: darkblue;
    color: white;
    width: 100%;
    height: 2.5em;
    margin-top: 0;
}

.topbar-text{
    padding-left: .75em;
    text-decoration: none;
    padding-top: .75em;
    font-size: 1em;
    font-family: sans-serif;
}

a{
   text-decoration: none;
   color: antiquewhite; 
}
